.root{
    width: 500px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 30px;
}
.root h2{text-align: center;}
.root .card{margin: 30px 0px;}
.root .card button{margin-left: 10px;}